.headerStyle{
  padding-top: 10px ;
  font-family: 'Pinyon Script';
  font-size: 70px;
  text-align: center;
}


.liTitle{
  font-family: 'Pinyon Script';
  padding: 10px;
  font-size: 50px;
  text-align: center;

}
.liDescription{
  font-family: 'Pinyon Script';
  font-size: 40px;
  text-align: center;

}
.liPrice{
  font-family: 'Pinyon Script';
  text-align: center;

}
.accordButton{
  font-family: 'Pinyon Script';
  
  text-align: center;
  

}